.my-container .row{
    margin-left: 0;
    margin-right: 0;
}

.game-info{
    width: 100%;
    border: 1px solid;
    padding: 1px;
    box-shadow: 1px 2px #888888;
    font-size: 12pt;
    max-height: 10vh;
}

.game-info .col-6,.col-4,.col-2{
    padding-left: 0;
    padding-right: 0;
}

.bid-info{
    text-align: center;
}

.score-table{
    max-height: 10vh;
    font-size: 9pt;
}

.score-table > tr{
    padding: 2px;
}

.score-table > tr > td{
    padding: 0px 2vw;
}

.bidder{
    font-size: 12pt;
}

.bid-value{
    font-weight: bold;
    font-size: 16pt;
}

.trump-card{
    max-height: 9vh;
}

.game-table{
    max-height: 60vh;
    height: 60vh;
}

.game-table > .col-3,.col-6{
    padding: 0;
}

.player-position{
    text-align: center;
    position: relative;
}

.postion-1{
    top: 20%;
}

.position-1-adj{
    top: 10% !important;
}

.postion-2{
    top: 41%;
}

.postion-3{
    top: 5%;
}

.postion-4{
    top: 41%;
}

.player-avatar{
    max-height: 6vh;
    max-width: 6vh;
}

.player-bid{
    border: 1px solid;
    padding: 2px;
    box-shadow: 1px 2px #888888;
    font-size: 10pt;
    border-radius: 30%;
}

.player-name{
    font-weight: bold;
    font-size: 16pt;
    margin: 0;
}

.game-table > .col-4:nth-child(2n+1) .player-name{
    max-width: 20vw;
    margin: 0 auto;
}

.curr-hand-display{
    position: relative;
    top: 10%;
}

.curr-hand-display > .col-4{
    padding: 0;
    text-align: center;
}

.curr-hand-display > .col-4:nth-child(2) > .curr-hand-display-card:nth-child(2){
    position: relative;
    top: 30%;
}

.curr-hand-display-card{
    max-height: 11vh;
}

.curr-hand-display > .col-4:nth-child(2n+1) > .curr-hand-display-card{
    position: relative;
    top: 40%;
}

.hand-winning-card{
    border: 3px solid lawngreen;
}

.my-card-display{
    width: 100%;
    max-height: 10vh;
    text-align: center;
}

.my-card-display > .row > .col-3:nth-child(n+5){
    margin-top: 2%;
}

.my-card{
    display: inline-block;
    max-height: 10vh;
    margin-left: 2vw;
}

.bidding-section{
    width: 100%;
    font-size: 12pt;
    max-height: 20vh;
    text-align: center;
}

.bidding-buttons{
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    background-color: cornflowerblue;
    box-shadow: 1px 3px #888;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 8vh;
    font-size: 14pt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bidding-buttons:active{
    box-shadow: 1px 1px #666;
    transform: translateY(2px);
}

.trump-choice{
    max-height: 10vh;
    margin: auto;
    border: 1px solid;
    box-shadow: 1px 2px #888888;
}